@charset "utf-8";
/* CSS Document */
table{
	border-width: thin;
	border-color: black;
	border-style: solid;
}
.tablehead{
	background-color: black;
	color: white;
}
.second{
	background-color: red;
}
.tablehead{
	font:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size:12px;
}
.third{
	font-style:italic;
	font-variant:normal;
}
